.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.name {
  font-size: 2rem;
  margin-block: 16px;
  white-space: pre;
  line-height: 150%;
  text-align: center;
}

.button {
  background: white;
  padding: 8px 16px;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1.125rem;
}
